/* css/common.css (전체 코드) */



/* 1. ★ 핵심: 배경 컨테이너 */
#background-animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* UI 레이어(.ui-layer)는 z-index: 2 이므로
      이 배경은 z-index: 1로 설정되어 뒤에 깔립니다.
    */

    overflow: hidden;
    z-index: 1; 
    
    /* (중요) background: #FFFFFF; 속성을 제거했습니다.
      이제 이 레이어는 투명하며, 오직 연산자만 그립니다.
    */
}

/* 2. '눈송이' 연산자 스타일 */
.snow-operator {
    position: absolute;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    user-select: none; 
}